<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.pixabay.com/photo/2018/02/16/10/23/web-3157323_960_720.jpg" height="600" weight="200"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h2>Welcome to Online Quiz Application!</h2>
                <p>Best Application for Quiz</p>
                <button class="btn btn-danger " routerLink="/quizerules">Angular</button>
                <button class="btn btn-success mx-1" routerLink="/quizerules">HTML</button>
                <button class="btn btn-primary mx-1" routerLink="/quizerules">Java Script</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="card-body text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://img.icons8.com/color/96/000000/angularjs.png" height="200"
                        weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Angular</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!.
                        </p>
                        <div class="my-2"> <a href="" class="btn btn-primary text-center " routerLink="/quizerules">Test
                                Rules</a></div>
                        <a href="" class="btn btn-primary text-center" routerLink="/angularquestion">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-body text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://w7.pngwing.com/pngs/390/229/png-transparent-logo-html5-brand-design-text-logo-number.png"
                        height="200" weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">HTML</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!.
                        </p>
                        <div class="my-2"> <a href="" class="btn btn-primary text-center " routerLink="/quizerules">Test
                                Rules</a></div>

                        <a href="" class="btn btn-primary text-center" routerLink="/htmlquestion">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-body text-center">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVCDNjQep0hKOfa5m8-rasoOSdfhwNZCE09g&usqp=CAU"
                        height="200" weight="00" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Java Script</h5>
                        <p class="card-text">The test contains 10 questions and there is time limit for each question 60
                            sec!.
                        </p>
                        <div class="my-2"> <a href="" class="btn btn-primary text-center " routerLink="/quizerules">Test
                                Rules</a></div>
                        <a href="" class="btn btn-primary text-center" routerLink="/javascriptquestion">Start Quiz</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-dark text-center text-lg-start mt-5">
            <!-- Copyright -->
            <div class="text-center p-3 text-light fw-bold">
                © 2022 Copyright:
                <a class="text-light fw-bold" routerLink="/">Online Quiz Application</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
</div>